.center-container{
    width: 100%;
    display: flex;
    justify-content: center;
    .container{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        .title{
            width: 100%;
            display: flex;
            justify-content: center;
            padding: 30px 0px;
            color: white;
            font-weight: bold;
            gap: 10px;
        }
        .order-filter-align{
            width: 100%;
            display: flex;
            .filters{
                display: flex;
                gap: 20px;
                align-items: center;
                .filter{
                    display: flex;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.289);
                    color: white;
                    padding: 10px;
                    border-radius: 5px;
                    cursor: pointer;
                    border: 2px solid transparent;
                    .search-input{
                        border: none;
                        color: white;
                        background-color: transparent;
                        border-bottom: 1px solid white;
                        outline: none;
                    }
                }
                .topay{
                    background-color: rgba(255, 166, 0, 0.718);
                }
                .ispayed{
                    background-color: green;
                }
            }
        }
        .order-card-align{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 10px;
            .order-card{
                width: 100%;
                color: white;
                display: flex;
                flex-direction: column;
                padding: 15px;
                background-color: rgba(0, 0, 0, 0.263);
                align-items: center;
                gap: 20px;
                cursor: pointer;
                .pay-align{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .pay-span{
                        padding: 2px 5px;
                        border-radius: 5px;
                        background-color: rgba(255, 255, 255, 0.141);
                    }
                    .unpayed-span{
                        background-color: rgba(255, 166, 0, 0.718);
                    }
                    .payed-span{
                        background-color: green;
                    }
                }
                .user-align{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    background-color: rgba(255, 255, 255, 0.063);
                    border-radius: 5px;
                    .user-details{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        grid-area: 5px;
                        width: 100%;
                        padding: 5px 0px;
                        .user-container{
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            border-radius: 50%;
                            .user-img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
                .order-details{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgba(255, 255, 255, 0.063);
                    border-radius: 5px;
                    gap: 10px;
                    padding: 1cqi;
                    .order{
                        display: flex;
                        gap: 15px;
                        flex-direction: column;
                        padding: 5px;
                        width: 100%;
                        background-color: rgb(28, 28, 28);
                        .comment{
                            padding: 5px;
                            border: 1px solid grey;
                            border-radius: 5px;
                        }
                        border-radius: 5px;
                        p{
                            word-break: break-all;
                        }
                        .order-photo-container{
                            width: 100%;
                            max-height: 250px;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            .order-photo{
                               width: 100%;
                               height: 100%;
                               object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }
}



@media screen  and (max-width:1400px) {
    .center-container{
         .container{
         .order-card-align{
            grid-template-columns: repeat(3,1fr);
        }
        }
    }
}


@media screen  and (max-width:1200px) {
    .center-container{
         .container{
         .order-card-align{
            grid-template-columns: repeat(2,1fr);
        }
        }
    }
}


@media screen  and (max-width:600px) {
    .center-container{
         .container{
            .order-card-align{
                grid-template-columns: repeat(1,1fr);
            }
            .order-filter-align{
                width: 100%;
                display: flex;
                .filters{
                    flex-wrap: wrap;
                }
            }
        }
    }
}