<div class="center-container">
    <div class="container">
        <div class="dashboard">
            <div class="date">
                <div class="form-group" (click)="openDatePicker(startDateInput)">
                    <label for="">დასაწყისი</label>
                    <input #startDateInput type="date"class="datepicker"  [(ngModel)]="startDate" style="cursor: pointer;">
                    <div class="dates" >{{startDate}}</div>
                </div>
                <div class="form-group" (click)="openDatePicker(endDateInput)">
                    <label for="">დასასრული</label>
                    <input #endDateInput type="date" class="datepicker"  [(ngModel)]="endDate" style="cursor: pointer;">
                    <div class="dates" >{{endDate}}</div>
                </div>
                <button class="search-date" (click)="getDashboardStats()">ძებნა</button>
            </div>
            <div class="stats-align">
                <div class="stat unpaid" >
                   შეკვეთების რაოდენობა<p class="money unpaid">{{dashboardStats.unpaidOrdersCount}}</p> 
                </div>
                <div class="stat unpaid">
                   ჯამი <p class="money unpaid">{{dashboardStats.totalUnPaidAmount}}₾</p> 
                </div>
                <div class="stat" >
                   შეკვეთების რაოდენობა <p class="money paid">{{dashboardStats.paidOrdersCount}} </p> 
                </div>
                <div class="stat" >
                   ჯამი <p class="money paid">{{dashboardStats.totalPaidAmount}}₾ </p> 
                </div>
            </div>
        </div>
        <div class="order-filter-align">
            <div class="filters">
                <div class="filter">
                    <label for=""></label>
                    <input type="number" class="search-input"[(ngModel)]="orderSearchNum" (change)="OrderSearch()">
                    <div class="searchbutton" (click)="OrderSearch()">
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                <div class="filter" [ngClass]="{'topay':!getOrderDto.IsPaid}" (click)="getPaidOrUnpaidOrders(false)">გადასახდელი</div>
                <div class="filter" [ngClass]="{'ispayed':getOrderDto.IsPaid}" (click)="getPaidOrUnpaidOrders(true)">გადახდილი</div>
            </div>
        </div>
        <div class="order-card-align" >
            <div class="order-card"  *ngFor="let o of orders" [routerLink]="AppRoutes.orderDetails + o.orderId"  [ngClass]="{'to-delete': isOlderThan1Day(o.createDate)&& !o.isPaid,'finished-order': o.statusId ==5,'topay':!getOrderDto.IsPaid,'ispayed':getOrderDto.IsPaid}">
                <div class="pay-align">
                    <span class="pay-span" [ngClass]="{'payed-span': o.isPaid,'unpayed-span': !o.isPaid}">No.{{o.orderId}}</span>
                    <span class="pay-span" >{{o.finalPrice}}₾</span>
                </div>
                <div class="user-align">
                    <div class="user-details">
                        <div class="user-container">
                            <img [src]="o.user.profilePhoto" class="user-img" alt="">
                        </div>
                        <p class="username">
                            {{o.user.name}}
                        </p>
                    </div>
                </div>
                <div class="order-details">
                    <div class="order">
                        <p  >{{o.createDate| date:'dd MMM YYY | HH:mm '}} </p>
                    </div>
                      <div class="order">
                        <p  > {{getTimeAgo(o.createDate)}} </p>
                    </div>
                    <div class="order" >
                        <p> <i class="fas fa-check"></i> {{getStatusName(o.statusId)}} </p>
                    </div>
                    <div class="order no-container">
                        <p class="">{{o.title}}</p>
                        <div class="order-photo-container">
                            <img [src]="o.photos[0].photoUrl" class="order-photo" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="center-pagenation">
     <div class="pageination-align">
    <div class="buttons-align">
       <button class="next-button" type="button" (click)="changePage(selectedPage - 1)">
         <span class="btn-inner--icon">
           ◀
         </span>
       </button>
       <div class="page-numbers-align">
         <ng-container *ngFor="let p of [0,1,2,3,4]">
           <button *ngIf="(pageNumber + p) <= totalPages" class="pageination-buttons"
             [class.selected]="selectedPage === (pageNumber + p)" (click)="changePage(pageNumber + p)">
             {{ pageNumber + p }}
           </button>
         </ng-container>
       </div>
       <button class="next-button" type="button" (click)="changePage(selectedPage + 1)">
         <span class="btn-inner--icon">
          ▶
         </span>
       </button>
    </div>
</div>
</div>