button{
    font-family: inherit;
}
.center-container{
    width: 100%;
    display: flex;
    justify-content: center;
    .container{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        .order-filter-align{
            width: 100%;
            display: flex;
            .filters{
                display: flex;
                gap: 20px;
                row-gap: 5px;
                align-items: center;
                width: 100%;
                .filter{
                    display: flex;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.289);
                    color: white;
                    padding: 5px;
                    border-radius: 5px;
                    font-weight: bolder;
                    cursor: pointer;
                    border: 2px solid transparent;
                    gap: 10px;
                    width: 100%;
                    .search-input{
                        padding: 10px;
                        color: white;
                        background-color: transparent;
                        border: 1px solid grey;
                        border-radius: 5px;
                        outline: none;
                        width: 100%;
                    }
                    .searchbutton{
                        padding: 10px ;
                        background-color: rgba(0, 0, 0, 0.5);
                        border-radius: 5px;
                        border: 1px solid grey;
                    }
                }
                .pay-filter{
                    align-items: center;
                    gap: 5px;
                    justify-content: center;
                    .data-align{
                        display: flex;
                        gap: 10px;
                        p{
                            padding: 5px 10px;
                            border-radius: 5px;
                            background-color: black;
                            color: white;
                        }
                    }
                }
                .topay{
                    background-color: orange;
                    color: black; 
                }
                .ispayed{
                    background-color: greenyellow;
                    color: black; 
                }
            }
        }
        .order-card-align{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 10px;
            .order-card{
                width: 100%;
                color: white;
                display: flex;
                flex-direction: column;
                padding: 5px;
                background-color: rgba(0, 0, 0, 0.263);
                align-items: center;
                border: 1px solid rgba(128, 128, 128, 0.459);
                border-radius: 5px;
                cursor: pointer;
                .pay-align{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .pay-span{
                        padding: 2px 5px;
                        border-radius: 5px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        height: 30px;
                    }
                    .unpayed-span{
                        background-color: orange;
                        font-weight: bolder;
                        color: black;
                    }
                    .payed-span{
                        background-color: greenyellow;    
                        font-weight: bolder;
                        color: black;
                    }
                    .user-details{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        z-index: 2;
                        background-color:rgba(14, 13, 13, 0.822);
                        border-radius: 5px;
                        padding: 5px;
                        .user-container{ 
                            width: 40px;
                            height: 40px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            border-radius: 50%;
                            border: 1px solid white;
                            .user-img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .username{
                            font-weight: bolder;
                            max-width:100px;
                            display: flex;
                            justify-content: center;
                            overflow: hidden;
                            text-align: center;
                        }
                    }
                }
                .order-details{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    border-radius: 5px;
                    gap: 5px;
                    padding: 1cqi;
                    .order{
                        display: flex;
                        gap: 15px;
                        flex-direction: column;
                        padding: 5px;
                        width: 100%;
                        background-color: rgba(14, 13, 13, 0.486);
                        word-break: break-all;
                        .comment{
                            padding: 5px;
                            border: 1px solid grey;
                            border-radius: 5px;
                        }
                        border-radius: 5px;
                        p{
                            word-break: break-all;
                        }
                        .order-photo-container{
                            width: 100%;
                            max-height: 250px;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            position: relative;
                            .order-photo{
                               width: 100%;
                               height: 100%;
                               object-fit: cover;
                            }
                            
                        }
                    }
                }
            }
            // .topay{
            //     border:2px  solid orange;
            // }
            // .ispayed{
            //     border: 2px  solid green;
            // }
            .to-delete{
                background-color: rgba(255, 145, 0, 0.726);
                border:2px solid rgba(255, 166, 0, 0.404);
            }
            .to-delete-7{
                background-color: red;
                border: 2px solid red;
            }
            .finished-order{
                border:2px solid green;
                background-color: rgba(0, 128, 0, 0.618);
            }
        }
    }
}

.center-pagenation{
    display: flex;
    width: 100%;
    justify-content: center;
.pageination-align{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 50px 0px;
    .buttons-align{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        .next-button{
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
       .icon-rotate-left {
         transform: rotate(180deg);
        }
        .btn{
            transition: 0.2s all ease-in-out;
            cursor: pointer;
            margin: 0;
        }
        .btn:hover{
            background-color: white;
        }
        .page-numbers-align{
            display: flex;
            gap: 3px;
            .pageination-buttons{
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                transition: 0.2s ;
                cursor: pointer;
             }
            .pageination-buttons:hover{
                color: white;
                background-color: #26B4FF;
            }
            .selected {
                background: #26B4FF !important;
                color: white;
            }
        }
    }
  }
}

@media screen  and (max-width:1400px) {
    .center-container{
         .container{
         .order-card-align{
            grid-template-columns: repeat(3,1fr);
        }
        }
    }
}


@media screen  and (max-width:1200px) {
    .center-container{
        .container{
         .order-card-align{
            grid-template-columns: repeat(2,1fr);
         }
        .order-filter-align{
            .filters{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                
            }
        }
        }
    }
}


@media screen  and (max-width:600px) {
    .center-container{
         .container{
            width: 96%;
            .order-card-align{
                grid-template-columns: repeat(2,1fr);
                gap: 5px;
            }
            .order-filter-align{
                width: 100%;
                display: flex;
                .filters{
                    flex-wrap: wrap;
                }
            }
        }
    }
    .center-container{
        .container{
            .order-filter-align{
                .filters{
                    display: grid;
                    grid-template-columns: repeat(1,1fr);
                    
                }
            }
        }
    }
}