button{
    font-family: inherit;
}
.date-modal-align{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    .close-date-back{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 2;
        background-color: rgba(0, 0, 0, 0.377);
        backdrop-filter: blur(2px);
    }
    .date-modal{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        max-width: 90%;
        padding: 50px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.795);
        z-index: 3;
        border-radius: 10px;
        color: white;
        gap: 10px;
        border: 1px solid rgba(128, 128, 128, 0.541);
        .month{
            padding: 10px 20px;
            border-radius: 5px;
            background-color: rgba(36, 35, 35, 0.493);
            cursor: pointer;
            border: 1px solid rgba(128, 128, 128, 0.541);
        }
        .selected-month{
            background-color: white;
            color: black;
        }
    }
}
.center-container{
    width: 100%;
    display: flex;
    justify-content: center;
    .container{
        width: 90%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        .dashboard{
            display: flex;
            background-color: rgba(0, 0, 0, 0.432);
            color: white;
            border-radius: 5px;
            padding: 10px 20px;
            flex-direction: column;
            gap: 10px;
            align-items: flex-start;
            .date{
                display:flex;
                width: 100%;
                justify-content: space-between;
                cursor: pointer;
                gap: 10px;
                .form-group{
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    position: relative;
                    padding: 5px 10px;
                    border-radius: 5px;
                    background-color: rgba(0, 0, 0, 0.397);  align-items: center;
                    border: 1px solid rgba(128, 128, 128, 0.527);
                    input{
                        width: 100%;
                    }
                    .datepicker{
                        opacity: 0;
                    }
                    cursor: pointer;
                }
                .dates{
                    display: flex;
                    align-items: center;
                    text-wrap: nowrap;
                }
            }
            .search-date{
                padding: 5px 10px;
                border-radius: 5px;
                background-color: white;
                color: black;
                border: 1px solid black;
                cursor: pointer;
                font-weight: bolder;
            }
            .stats-align{
                display: flex;
                gap: 5px;
                overflow-x: scroll;
                .stat{
                    background-color: rgba(0, 0, 0, 0.445);
                    padding: 5px 10px;
                    border-radius:5px;
                    display: flex;
                    align-items: center;
                    border: 1px solid rgba(128, 128, 128, 0.527);
                    .money{
                        border-radius: 5px;
                        padding: 5px;
                        box-shadow: 0px 0px 10px black;
                    }
                    p{
                        font-weight: bolder;
                    }
                }
                .paid{
                    border: 1px solid green;
                }
                .unpaid{
                    border: 1px solid rgba(255, 166, 0, 0.63);
                }
            }
            .stats-align::-webkit-scrollbar{
                display: none;
            }
        }
        .order-filter-align{
            width: 100%;
            display: flex;
            .filters{
                display: flex;
                gap: 20px;
                align-items: center;
                .filter{
                    display: flex;
                    align-items: center;
                    background-color: rgba(0, 0, 0, 0.289);
                    color: white;
                    padding: 10px;
                    border-radius: 5px;
                    font-weight: bolder;
                    cursor: pointer;
                    border: 2px solid transparent;
                    .search-input{
                        border: none;
                        color: white;
                        background-color: transparent;
                        border-bottom: 1px solid white;
                        outline: none;
                    }
                }
                .topay{
                    background-color: orange;
                    color: black; 
                }
                .ispayed{
                    background-color: greenyellow;
                    color: black; 
                }
            }
        }
        .order-card-align{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 10px;
            .order-card{
                width: 100%;
                color: white;
                display: flex;
                flex-direction: column;
                padding: 5px;
                background-color: rgba(0, 0, 0, 0.263);
                align-items: center;
                gap: 10px;
                border: 1px solid rgba(128, 128, 128, 0.459);
                border-radius: 5px;
                cursor: pointer;
                .pay-align{
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    .pay-span{
                        padding: 2px 5px;
                        border-radius: 5px;
                    }
                    .unpayed-span{
                        background-color: orange;
                        font-weight: bolder;
                        color: black;
                    }
                    .payed-span{
                        background-color: greenyellow;    
                        font-weight: bolder;
                        color: black;
                    }
                }
                .user-align{
                    display: flex;
                    width: 100%;
                    flex-direction: column;
                    border-radius: 5px;
                    background-color: rgba(0, 0, 0, 0.377);
                    .user-details{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        padding: 5px 0px;
                        gap: 5px;
                        .user-container{
                            width: 50px;
                            height: 50px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            border-radius: 50%;
                            border: 1px solid white;
                            .user-img{
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                        .username{
                            font-weight: bolder;
                            width: 250px;
                            display: flex;
                            justify-content: center;
                            overflow: hidden;
                        }
                    }
                }
                .order-details{
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    background-color: rgba(0, 0, 0, 0.479);
                    border-radius: 5px;
                    gap: 10px;
                    padding: 1cqi;
                    .order{
                        display: flex;
                        gap: 15px;
                        flex-direction: column;
                        padding: 5px;
                        width: 100%;
                        background-color: rgba(14, 13, 13, 0.486);
                        border: 1px solid rgba(128, 128, 128, 0.507);
                        .comment{
                            padding: 5px;
                            border: 1px solid grey;
                            border-radius: 5px;
                        }
                        border-radius: 5px;
                        p{
                            word-break: break-all;
                        }
                        .order-photo-container{
                            width: 100%;
                            max-height: 150px;
                            border-radius: 5px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            overflow: hidden;
                            .order-photo{
                               width: 100%;
                               height: 100%;
                               object-fit: cover;
                            }
                        }
                    }
                }
            }
            // .topay{
            //     border:2px  solid orange;
            // }
            // .ispayed{
            //     border: 2px  solid green;
            // }
            .to-delete{
                background-color: rgba(255, 145, 0, 0.726);
                border:2px solid rgba(255, 166, 0, 0.404);
            }
            .to-delete-7{
                background-color: red;
                border: 2px solid red;
            }
            .finished-order{
                border:2px solid green;
                background-color: rgba(0, 128, 0, 0.363);
            }
        }
    }
}

.center-pagenation{
    display: flex;
    width: 100%;
    justify-content: center;
.pageination-align{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 50px 0px;
    .buttons-align{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        .next-button{
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
       .icon-rotate-left {
         transform: rotate(180deg);
        }
        .btn{
            transition: 0.2s all ease-in-out;
            cursor: pointer;
            margin: 0;
        }
        .btn:hover{
            background-color: white;
        }
        .page-numbers-align{
            display: flex;
            gap: 3px;
            .pageination-buttons{
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                transition: 0.2s ;
                cursor: pointer;
             }
            .pageination-buttons:hover{
                color: white;
                background-color: #26B4FF;
            }
            .selected {
                background: #26B4FF !important;
                color: white;
            }
        }
    }
  }
}

@media screen  and (max-width:1400px) {
    .center-container{
         .container{
         .order-card-align{
            grid-template-columns: repeat(3,1fr);
        }
        }
    }
}


@media screen  and (max-width:1200px) {
    .center-container{
         .container{
         .order-card-align{
            grid-template-columns: repeat(2,1fr);
        }
        }
    }
}


@media screen  and (max-width:600px) {
    .center-container{
         .container{
            .order-card-align{
                grid-template-columns: repeat(1,1fr);
            }
            .order-filter-align{
                width: 100%;
                display: flex;
                .filters{
                    flex-wrap: wrap;
                }
            }
        }
    }
}