<div class="center-container">
    <div class="container">
        <div class="title">
            <p>შეკვეთები</p>
        </div>
        <div class="order-card-align" >
            <div class="order-card" *ngFor="let o of RandomOrdersObject.orders">
                <div class="order-details">
                    <div class="user">
                        <b class="user-title">მომხმარებელი</b>
                        <div class="user-info">
                          <p>{{o.user.name}}</p>
                          <p>{{o.user.lastName}}</p>
                        </div>
                    </div>
                </div>
                <div class="post-container">
                    <app-photo-album [posts]="o.post"></app-photo-album>
                </div>
            </div>
        </div>
    </div>
</div>