

<div class="center-container">
    <div class="container">
        <div class="order-filter-align">
            <div class="filters">
                <!-- <div style="display: flex; gap: 10px; flex-direction: column;">
                    <div class="filter">
                        <label for=""></label>
                        <input type="number" class="search-input"[(ngModel)]="orderSearchNum" (change)="OrderSearch()" placeholder="შეკვეთის ნომერი">
                    </div>
                </div> -->
           
                <div class="filter pay-filter " [ngClass]="{'not-paid':selectedFilter ==0}" (click)="getPaidOrUnpaidOrders(false)">
                    გადასახდელი
                </div>
                <div class="filter pay-filter " [ngClass]="{'paid-filter':selectedFilter ==1}" (click)="getPaidOrUnpaidOrders(true)">
                    გადახდილი
                </div>
            </div>
        </div>
        <div class="orders-grouped" *ngIf="groupedOrders.length>0">
            <ng-container *ngFor="let i of groupedOrders">
            <!-- <div class="month-header">
               <p>სულ</p>
               <p style="font-size: 18px;"><i class="fas fa-shopping-cart"></i> {{dashboardStats.unpaidOrdersCount}}</p>
               <p style="font-size: 18px;">{{dashboardStats.totalUnPaidAmount}}₾</p>
           </div>  -->
           <div class="month-header">
               {{ i.monthLabel }}
              <!-- <div class="month-stat">
                  <p style="font-size: 16px;"><i class="fas fa-shopping-cart"></i> {{i.orders.length}}</p>
                  <p style="font-size: 16px;">{{orderPrices(i.orders)}}₾</p>
              </div> -->
           </div> 
            <div class="order-card-align" >
                <div class="order-card" [ngClass]="{'finished-order': o.statusId ==5}"  *ngFor="let o of i.orders" [routerLink]="AppRoutes.orderDetails + o.orderId">
                    <div class="pay-align">
                        <span class="pay-span" [ngClass]="{'payed-span': o.isPaid,}"> No.{{o.orderId}}</span>
                        <div class="user-details">
                            <div class="user-container">
                                <img [src]="o.user.profilePhoto" class="user-img" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="order-details">
                        <div class="order order-details-back"  *ngIf="o.isPaid">
                            <p style="display: flex; justify-content: space-between;">{{o.createDate| date:'dd MMM'}}  <b style="font-size: 14px;">{{o.finalPrice}}₾</b> </p>
                        </div>
                        <div class="order order-details-back"[ngClass]="{'old-one-day': isOlderThan1Day(o.createDate) && !o.isPaid,'old-seven-day': isOlderThan7Day(o.createDate) && !o.isPaid,'just-now-border':getTimeAgo(o.createDate)==='just now'}" *ngIf="!o.isPaid">
                            <p style="display: flex; justify-content: space-between;" [ngClass]="{'just-now':getTimeAgo(o.createDate)==='just now'}">{{getTimeAgo(o.createDate)}} <b style="font-size: 14px;">{{o.finalPrice}}₾</b> </p>
                        </div>
                        <div class="order order-details-back" *ngIf="o.isPaid">
                            <p>{{getStatusName(o.statusId)}} </p>
                        </div>
                        <div class="order" style="padding: 0; border: none;">
                            <p class="order-count" s> <i class="fas fa-close"></i> {{o.productQuantity}}</p>               
                            <div class="order-photo-container">
                                <img [src]="o.photos[0].photoUrl" class="order-photo" alt="">
                                <div class="order-title-absolute" ><p style="background-color: rgba(0, 0, 0, 0.418); border-radius: 5px; padding: 2px 10px; backdrop-filter: blur(10px);">{{o.title}}</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </ng-container>
        </div>
    </div>
</div>
<div style="width: 100%;padding: 200px; display: flex; justify-content: center; align-items: center;" *ngIf="groupedOrders.length<=0">
    <div style="display: flex; flex-direction: column; align-items: center; gap: 50px;">
        <i class="fas fa-shopping-cart" style="color: white; scale: 5;"></i>
        <b style="color: white; text-wrap: nowrap;">No orders Yet!</b>
    </div>
</div>

<div class="center-pagenation" *ngIf="groupedOrders.length>0">
     <div class="pageination-align">
    <div class="buttons-align">
       <button class="next-button" type="button" (click)="changePage(selectedPage - 1)">
         <span class="btn-inner--icon">
           ◀
         </span>
       </button>
       <div class="page-numbers-align">
         <ng-container *ngFor="let p of [0,1,2,3,4]">
           <button *ngIf="(pageNumber + p) <= totalPages" class="pageination-buttons"
             [class.selected]="selectedPage === (pageNumber + p)" (click)="changePage(pageNumber + p)">
             {{ pageNumber + p }}
           </button>
         </ng-container>
       </div>
       <button class="next-button" type="button" (click)="changePage(selectedPage + 1)">
         <span class="btn-inner--icon">
          ▶
         </span>
       </button>
    </div>
</div>
</div>