

<div class="center-component" >
    <div  class="body-align" *ngIf="postsLoaded">
        <div class="component">
            <div class="header-grid">
                <div class="card-information" >
                    <div class="photo-align" >
                        <div class="user-information">
                            <div class="order-num-align">
                                <div class="order-box" [ngClass]="{'paid-order':order.isPaid,'unpaid-order':!order.isPaid}">
                                    <p class="order-status">შეკვეთა </p>
                                    <p class="order-id" >
                                        {{order.orderId}}
                                    </p>    
                                </div>
                                <div class="delete-order" *ngIf="order.orderId && !order.isPaid">
                                    <button class="delete-order-button" (click)="deleteOrder(order.orderId)">წაშლა</button>
                                </div>
                            </div>
                        </div>
                        <div class="product-details-align user-information">
                            <div style="display: flex; flex-direction: column; justify-content: space-evenly; gap: 10px;">
                                <div class="detail-align" (click)="openModal(1)">
                                    <div class="detail info-background" *ngIf="!order.isPaid" [ngClass]="{'to-payed':!order.isPaid}">
                                        <p class="" >გადასახდელი:</p>
                                        <b class="price-bold"> {{order.finalPrice}}₾</b>
                                    </div>
                                    <div class="detail info-background payed-container" *ngIf="order.isPaid" [ngClass]="{'is-payed':order.isPaid }">
                                        <p class="" >გადახდილი</p>
                                        <b class="price-bold"> {{order.finalPrice}}₾</b>
                                    </div>
                                </div>
                                <div class="detail-align" *ngIf="order.isPaid">
                                    <div class="detail info-background" (click)="openModal(2)">
                                        სტატუსი: 
                                        <b>{{getStatusName(order.statusId)}}</b>
                                        
                                        <i class="fas fa-spinner topay" *ngIf="!order.isPaid"></i>
                                        <p class="" *ngIf="order.isPaid"></p>
                                    </div>   
                                </div>
                                <div class="info-background date detail">
                                    <p>თარიღი:</p>
                                    <b>{{ order.createDate | date : 'dd MMM yyyy' }}</b>
                                </div> 
                            </div>
                            <div style="display: flex; flex-direction: column; gap: 10px;">
                                <div class="photo-container"  data-aos="fade-in">
                                    <p class="quantity"> <i class="fas fa-close "></i>{{order.productQuantity}}</p>
                                    <div *ngFor="let p of photosArray; let i = index" >
                                        <img [src]="p.photoUrl" *ngIf="i==0" alt="" class="photo">
                                    </div>
                                    <p class="product-title">{{posts.title}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="product-details-align user-information">
                            <div class="delivery-align info-background detail user-profile" (click)="copyToClipboard(user.name)">
                                <div class="user-container">
                                    <img [src]="user?.profilePhoto" class="user-img" alt="">
                                </div>
                                <p style="word-break: break-all;">
                                    {{user.name}}
                                </p>
                            </div>  
                            <div class="delivery-align info-background detail" (click)="copyToClipboard(user.phoneNumber)">
                                <i class="fas fa-phone" style="color: green;"></i>
                                <p >{{user.phoneNumber}}</p>
                            </div>    
                            <div class="delivery-align info-background detail" (click)="copyToClipboard(user.email)">
                                <p >{{user.email}}</p>
                            </div>       
                            <div class="delivery-align info-background detail" (click)="copyToClipboard(order.address)" *ngIf="order.address">
                                <p class="" ><b>მისამართი :</b> {{order.address}}</p>
                            </div>
                        </div>
                        <div class="comment-align user-information" *ngIf="comment">
                            <div class="form-group">
                                <label for="" style="display: flex; gap: 20px; color: white;" >კომენტარი <p style="color: gray;">{{comment.length}}/300</p> </label>
                                <textarea [(ngModel)]="comment" disabled="true" class="form-control"  maxlength="300" style="min-height: 100px;"></textarea>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="user-information map-align"style="display:flex; justify-content:center; " *ngIf="location.lat!='0'&&location.lng!='0'">
    <div class="map-wrap" style="border-radius: 5px;border: 1px solid rgba(128, 128, 128, 0.459); background-color: rgba(0, 0, 0, 0.342);padding: 20px; display: flex; flex-direction: column; gap: 10px;">
        <div style="display: flex; flex-direction: column; gap: 10px;">
            <div style="display: flex; align-items: center; gap: 5px; flex-wrap: wrap;" (click)="copyToClipboard(`${order.lat},${order.lng}`)">
                <div>პინი</div>
                <div style="padding: 5px 10px; border-radius: 5px; background-color: rgba(0, 0, 0, 0.493); border: 1px solid rgba(128, 128, 128, 0.459); cursor: pointer;word-break: break-all;">{{order.lat}},{{order.lng}}</div>
            </div>
        </div>
        <div id="map" style="width: 100%;border-radius: 10px; z-index: 0;"></div>
    </div>
</div>





<div class="modal-align" *ngIf="modalGroupNum!=0">
    <div class="modal-cancel" (click)="modalcancel()"></div>
    <div class="modal">
        <div class="button-group" *ngIf="modalGroupNum ==1 ">
            <button class="ispaidbutton" [ngClass]="{'is-not-paid':!order.isPaid}" (click)="changeOrderIsPaid(false)">გადასახდელი</button>
            <button class="ispaidbutton" [ngClass]="{'is-paid':order.isPaid}" (click)="changeOrderIsPaid(true)">გადახდილი</button>
        </div>
        <div class="button-group" *ngIf="modalGroupNum ==2 ">
            <button class="ispaidbutton order-status"  [ngClass]="{'selected-status': order.statusId == o.id}" *ngFor="let o of orderStatuses" (click)="changeOrderStatusId(o.id)">{{o.statusName}}</button>
        </div>
    </div>
</div>

