
<div class="year-modal-align " *ngIf="yearmodalVisible">
    <div class="close-year-modal" (click)="hideYearsModal()"></div>
    <div class="year-modal">
        <div class="month" [ngClass]="{'selected-month':i ==currentYear}" *ngFor="let i of Years" (click)="changeYear(i)">{{i}}</div>
    </div>
</div>  
<div class="date-modal-align">
    <div class="date-modal">
        <div class="full-year" (click)="showYearsModal()">
            <p>{{this.currentYear}} წლის ჯამი</p>
            <div class="year-stats-align" style="display: flex; flex-direction: row;">
                <div class="year-stats"><i class="fas fa-shopping-cart"></i> {{dashboard.yearStat?.orderCount}}</div>
                <div class="year-stats">{{dashboard.yearStat?.totalAmount}} ₾</div>
            </div>
        </div>
        <div class="months-grid">
            <div class="month" [ngClass]="{'selected-month':i.monthNumber == currentMonth}" *ngFor="let i of dashboard.statsByMonth" (click)="changeMonth(i.monthNumber)">
                <div class="month-name">
                    {{getmonthName(i.monthNumber)}}
                </div>
                <div class="stat-align">
                    <div class="month-stats">
                        <i class="fas fa-shopping-cart"></i> {{i.orderCount}}
                    </div>
                    <div class="month-stats">
                       {{i.totalAmount}} ₾
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="date-modal" *ngIf="soldProductTypes.length>0">
           <div class="months-grid type-display">
            <div class="month" *ngFor="let i of soldProductTypes">
                <div class="month-name">
                    {{getProductTypeName(i.productTypeId)}}
                </div>
                <div class="stat-align">
                    <div class="month-stats">
                       <i class="fas fa-close"></i>    {{i.soldCount}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>