.date-modal-align{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    .date-modal{
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 90%;
        padding: 20px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 3;
        border-radius: 10px;
        color: rgb(219, 218, 218);
        max-width: 1000px;
        .months-grid{
            display: grid;
            grid-template-columns: repeat(4,1fr);
            gap: 10px;
            .month{
                padding: 10px 20px;
                border-radius: 5px;
                background-color: rgba(0, 0, 0, 0.493);
                cursor: pointer;
                border: 1px solid rgba(128, 128, 128, 0.753);
                display: flex;
                flex-direction: column;
                gap: 20px;
                align-items: center;
                justify-content: center;
                color: grey;
                .month-name{
                    font-size: 20px;
                    font-weight: bolder;
                    font-family: bolder;
                }
                .stat-align{
                    display: flex;
                    gap: 10px;
                    align-items: center;
                    .month-stats{
                        border-radius: 5px;
                        background-color: rgba(0, 0, 0, 0.342);
                        padding: 5px 10px;
                        color: rgb(219, 218, 218);
                        color: grey;
                        border: 1px solid rgba(128, 128, 128, 0.541);
                        font-weight: bolder;
                    }
                }
            }
            .selected-month{
                border: 1px solid white;
                color: white;
                .month-name{
                    color: white;
                    text-wrap: nowrap;
                }
                 .stat-align{
                    .month-stats{
                        border: 1px solid green;
                        background-color: green;
                        color: white;
                    }
                }
            }
        }
        .full-year{
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            background-color: rgba(0, 0, 0, 0.418);
            border-radius: 5px;
            padding: 20px;
            border: 1px solid white;
            font-size: 20px;
            cursor: pointer; 
            p{
                color: white;
            }
            .year-stats-align{
                display: flex;
                align-items: center;
                gap: 20px;
                color: white;
                justify-content: center;
                .year-stats{
                    border-radius: 5px;
                    background-color: rgba(0, 0, 0, 0.342);
                    padding: 5px 10px;
                    color: white;
                    border: 1px solid green;
                    background-color: green;    
                }
            }
        }
    }
}


@media screen and (max-width:1200px){
    .date-modal-align{
        .date-modal{
            .months-grid{
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}
@media screen and (max-width:900px){
    .date-modal-align{
        .date-modal{
            .months-grid{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
}
@media screen and (max-width:600px){
    .date-modal-align{
        .date-modal{
            .months-grid{
                grid-template-columns: repeat(1,1fr);
            }
        }
    }
}