.statistics-align{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    .statistics-component{
        width: 90%;
        padding: 50px 10px;
        background-color: rgba(0, 0, 0, 0.582);
        backdrop-filter: blur(2px);
        color: white;
        display: flex;
        justify-content: center;
        table{
            cursor: pointer;
            th{
                padding: 10px;
                border-bottom: 1px solid white;
                color: rgb(216, 214, 214);
                .fas{
                    color: white;
                }
              
            }
            td{
                padding: 10px;
                text-align: center;
                font-weight: bolder;
                text-shadow :0px 0px 2px black;
            }
        }
    }
}



.gallery-align{
    width: 100%;
    display: flex;
    justify-content: center;
    .photo-align{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 2px;
        .add-new-post{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.582);
            backdrop-filter: blur(2px);
            cursor: pointer;
            height: 450px;
            transition: 0.3s all ease-in-out;
            .fas{
                color: white;
                scale: 2.5;
                transition: 0.3s all ease-in-out;
            }
        }
        .add-new-post:hover{
            background-color: rgba(0, 0, 0, 0.829);
        }
        .add-new-post:hover .fas{
            rotate: 180deg;
            scale: 3.5;
        }
        .album{
            width: 100%;
            height: 450px;
        }
    }
}

@media screen and (max-width:1200px){
    .gallery-align{
        .photo-align{
            grid-template-columns: repeat(3,1fr);
        }
    }
}
@media screen and (max-width:850px){
    .gallery-align{
       .photo-align{
        grid-template-columns: repeat(2,1fr);
    }
  }
}
@media screen and (max-width:700px){
    .gallery-align{
        .photo-align{
            .album{
                height: 350px;
            }
            .add-new-post{
                height: 350px;
            }
        }
    }
}
@media screen and (max-width:550px){
    .gallery-align{
        .photo-align{
            .album{
                height: 250px;
            }
            .add-new-post{
                height: 250px;
            }
        }
    }
}
@media screen and (max-width:400px){
    .gallery-align{
        .photo-align{
            grid-template-columns: repeat(1,1fr);
            gap: 15px;
        }
    }
}
