.statistics-align{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    .statistics-component{
        width: 90%;
        padding: 50px 10px;
        background-color: rgba(0, 0, 0, 0.582);
        backdrop-filter: blur(2px);
        color: white;
        display: flex;
        justify-content: center;
        table{
            cursor: pointer;
            th{
                padding: 10px;
                border-bottom: 1px solid white;
                color: rgb(216, 214, 214);
                .fas{
                    color: white;
                }
              
            }
            td{
                padding: 10px;
                text-align: center;
                font-weight: bolder;
                text-shadow :0px 0px 2px black;
            }
        }
    }
}



.gallery-align{
    width: 100%;
    display: flex;
    justify-content: center;
    .photo-align{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap: 10px;
        .add-new-post{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.582);
            backdrop-filter: blur(2px);
            cursor: pointer;
            height: 250px;
            transition: 0.3s all ease-in-out;
            .fas{
                color: white;
                scale: 2.5;
                transition: 0.3s all ease-in-out;
            }
        }
        .add-new-post:hover{
            background-color: rgba(0, 0, 0, 0.829);
        }
        .add-new-post:hover .fas{
            rotate: 180deg;
            scale: 3.5;
        }
        .album{
            width: 100%;
            height: 250px;
        }
    }
}




.center-pagenation{
    display: flex;
    width: 100%;
    justify-content: center;
.pageination-align{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 50px 0px;
    .buttons-align{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        .next-button{
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: white;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: center;
        }
       .icon-rotate-left {
         transform: rotate(180deg);
        }
        .btn{
            transition: 0.2s all ease-in-out;
            margin: 0;
        }
        .btn:hover{
            background-color: white;
        }
        .page-numbers-align{
            display: flex;
            gap: 3px;
            .pageination-buttons{
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                transition: 0.2s ;
                cursor: pointer;
            }
            .pageination-buttons:hover{
                color: white;
                background-color: #26B4FF;
            }
            .selected {
                background: #26B4FF !important;
                color: white;
            }
        }
    }
  }
}
.type-management-component{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 30px 0px;
    color: white;
    flex-direction: column;
    gap: 20px;
    .type-management-align{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 30px 20px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.452);
        .type-container{
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            padding: 10px 20px;
            border: 1px solid grey;
            border-radius: 5px;
            background-color: rgba(0, 0, 0, 0.527);
            flex:1;
            .type-buttons-align{
                display: flex;
                gap:10px;
                justify-content: center;
            }
            .type-input{
                background-color: transparent;
                border-radius: 5px;
                border: 1px solid grey;
                padding: 10px;
                color: white;
                outline: none;
            }
            .delete{
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                background-color: red;
                color: white;
                cursor: pointer;
            }
            .accept{
                background-color: green;
            }
            .edit{
                background-color: white;
                color: black;
            }
        }
        .flex-container{
            flex-direction: row;
        }
    }
    .type-management-align::-webkit-scrollbar{
        display: none;
    }
}




@media screen and (max-width:1200px){
    .gallery-align{
        .photo-align{
            grid-template-columns: repeat(5,1fr);
        }
    }
}
@media screen and (max-width:850px){
    .gallery-align{
       .photo-align{
        grid-template-columns: repeat(4,1fr);
    }
  }
}
@media screen and (max-width:700px){
    .gallery-align{
        .photo-align{
            grid-template-columns: repeat(3,1fr);
            .album{
                height: 250px;
            }
            .add-new-post{
                height: 250px;
            }
        }
    }
}
@media screen and (max-width:550px){
    .gallery-align{
        .photo-align{
            grid-template-columns: repeat(2,1fr);
            .album{
                height: 250px;
            }
            .add-new-post{
                height: 250px;
            }
        }
    }
}
@media screen and (max-width:400px){
    .gallery-align{
        .photo-align{
            gap: 15px;
            .album{
                height: 200px;
            }
            .add-new-post{
                height: 200px;
            }
        }
    }
}
