.gallery-align{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    .filters-align{
        width: 90%;
        display: flex;
        gap: 10px;
        padding: 10px 0px;
        flex-wrap: wrap;
        .filters{
        padding: 4px 16px;
        border-radius: 5px;
        color: white;
        background-color: rgba(0, 0, 0, 0.192);
        border: 1px solid rgba(128, 128, 128, 0.514);
        cursor: pointer;
        text-wrap: nowrap;
        }
        .active-filter{
        background-color: white;
        color: black; 
        }
        .edit-filter{
            background-color: orange;
            color: black;
        }
        
        .post-filter{
            padding: 10px;
            border: 1px solid white;
            border-radius: 5px;
            cursor: pointer;
            color: white;
            .fas{
                color: white;
            }
            
        }
        .active-post{
            background-color:green;
            border: 1px solid green;
            color: white;
        }
        .deleted-post{
            background-color:orangered;
            color: white;
            border: 1px solid orangered;
        }
    }
 .filters-align::-webkit-scrollbar{
        display: flex;
    }
    .photo-align{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(6,1fr);
        gap:5px;
        .add-new-post{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.582);
            backdrop-filter: blur(2px);
            cursor: pointer;
            height: 300px;
            transition: 0.3s all ease-in-out;
            .fas{
                color: white;
                scale: 2.5;
                transition: 0.3s all ease-in-out;
            }
        }
        .add-new-post:hover{
            background-color: rgba(0, 0, 0, 0.829);
        }
        .add-new-post:hover .fas{
            rotate: 180deg;
            scale: 3.5;
        }
        .album{
            width: 100%;
            height: 300px;
        }
    }
}




.center-pagenation{
    display: flex;
    width: 100%;
    justify-content: center;
.pageination-align{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 50px 0px;
    .buttons-align{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        .next-button{
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: white;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: center;
        }
       .icon-rotate-left {
         transform: rotate(180deg);
        }
        .btn{
            transition: 0.2s all ease-in-out;
            margin: 0;
        }
        .btn:hover{
            background-color: white;
        }
        .page-numbers-align{
            display: flex;
            gap: 3px;
            .pageination-buttons{
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                transition: 0.2s ;
                cursor: pointer;
            }
            .pageination-buttons:hover{
                color: white;
                background-color: #26B4FF;
            }
            .selected {
                background: #26B4FF !important;
                color: white;
            }
        }
    }
  }
}
.type-management-component{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
    color: white;
    flex-direction: column;
    gap: 20px;
    position: fixed;
    z-index: 62;
    top: 0;
    left: 0;
    .type-management-background{
        width: 100%;
        height: 100%;
        backdrop-filter: blur(20px);
        position: fixed;
        z-index: 7;
        top: 0;
        left: 0;
    }
    .type-management-align{
        width: 90%;
        display: flex;
        flex-direction: column;
        z-index: 8;
        gap: 10px;
        padding: 30px 20px;
        border-radius: 10px;
        max-width: 600px;
        background-color: rgb(29, 28, 28);
        max-height: 600px;
        overflow: scroll;
        .type-container{
            display: flex;
            flex-direction: column;
            gap: 5px;
            padding: 10px 5px;
            border-radius: 5px;
            flex:1;
            box-shadow: 0px 0px 1px grey;
            .type-buttons-align{
                display: flex;
                gap:10px;
                justify-content: center;
            }
            .type-input{
                background-color: transparent;
                border-radius: 5px;
                border: 1px solid grey;
                padding: 10px;
                color: white;
                outline: none;
                width: 100%;
            }
            .delete{
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                background-color: red;
                color: white;
                cursor: pointer;
            }
            .accept{
                background-color: green;
            }
            .edit{
                background-color: white;
                color: black;
            }
        }
        .flex-container{
            flex-direction: row;
        }
    }
    .type-management-align::-webkit-scrollbar{
        display: none;
    }
}




@media screen and (max-width:1200px){
    .gallery-align{
        .photo-align{
            grid-template-columns: repeat(5,1fr);
        }
    }
}
@media screen and (max-width:850px){
    .gallery-align{
       .photo-align{
        grid-template-columns: repeat(4,1fr);
    }
  }
}
@media screen and (max-width:700px){
    .gallery-align{
        .photo-align{
            grid-template-columns: repeat(3,1fr);
        }
    }
}
@media screen and (max-width:550px){
    .gallery-align{
        .photo-align{
            grid-template-columns: repeat(2,1fr);
        }
    }
}
@media screen and (max-width:400px){
    .gallery-align{
        .photo-align{
            .album{
                height: 250px;
            }
            .add-new-post{
                height: 250px;
            }
        }
    }
}
