
<div class="statistics-align">
    <div class="statistics-component">
        <table >
            <thead>
                <tr>
                    <th>
                        პოსტების
                        <i class="fas fa-camera"></i>
                        <b style="color: greenyellow; padding: 0px 10px;">{{posts.length}}</b>
                    </th>
                    <th>
                        ლაიქები 
                        {{likeCount}}
                        <i class="fas fa-heart" style="color: red;"></i>
                   </tr>
              </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</div>
<div class="gallery-align">
    <div class="photo-align">
        <ng-container *ngFor="let p of posts;let i = index" >
            <div *ngIf="i==0" class="add-new-post" [routerLink]="AppRoutes.addPosts" >
                <i class="fas fa-plus-square"></i>
            </div>
            <app-photo-album [posts]="p" class="album"></app-photo-album>
        </ng-container>
    </div>
</div>