<div class="component">
    <div class="header">
    <div class="header-align">
        <div class="shop-profile" [routerLink]="AppRoutes.profile">
                <div class="shop-profile-container">
                    <img [src]="shop.logo" alt="" class="shop-img">
                </div>
                <p class="shop-title">{{shop.name}}</p>
        </div>
        <div class="navigation-align">
            <div class="nav-link"  routerLinkActive="active-link" [routerLink]="AppRoutes.posts">
                <i class="fas fa-address-book"></i>
                <b>პოსტები</b> </div>
            <span class="nav-link" routerLinkActive="active-link"  [routerLink]="AppRoutes.orders">
                <i class="fas fa-shopping-cart"></i> 
                <b>შეკვეთები</b> 
            </span>
            <!-- <span class="nav-link" routerLinkActive="active-link"  >
                <i class="fas fa-envelope"></i> 
                <b>მეილები</b> 
            </span> -->
            <span class="nav-link" routerLinkActive="active-link"  [routerLink]="AppRoutes.users">
                <i class="fas fa-user"></i> 
                <b>გამომწერები</b> 
            </span>
            <span class="nav-link" routerLinkActive="active-link"  [routerLink]="AppRoutes.dashboard">
                <i class="fas fa-chart-pie" aria-hidden="true"></i>
                <b>დეშბორდი</b> 
            </span>
        </div>
        <div class="burger-icon-align" >
            <span class="nav-link" routerLinkActive="active-link" (click)="openSidenav()"><i class="fas fa-bars"></i></span>
        </div>
    </div>
</div>
</div>

<div class="sidenav-align"*ngIf="sidenavVisible">
    <div class="background-exit" [ngClass]="{'background-close':leftToright}" (click)="hideSidenav()"></div>
    <div class="mobile-navigation-align" [ngClass]="{'left-toright':leftToright}">
        <div class="cancel-icon-align">
            <i class="fas fa-times" (click)="hideSidenav()"></i>
        </div>
        <div class="nav-center">
            <span class="nav-link" routerLinkActive="active-link" [routerLink]="AppRoutes.posts" (click)="hideSidenav()"><i class="fas fa-address-book" ></i><b class="link-inner-text">პოსტები</b> </span>
            <span class="nav-link" routerLinkActive="active-link"  [routerLink]="AppRoutes.orders" (click)="hideSidenav()"> <i class="fas fa-shopping-cart"></i >  <b class="link-inner-text">შეკვეთები</b>  </span>
            <!-- <span class="nav-link" routerLinkActive="active-link"   (click)="hideSidenav()"> <i class="fas fa-envelope"></i>  <b>მეილები</b>  </span> -->
            <span class="nav-link" routerLinkActive="active-link"  [routerLink]="AppRoutes.users" (click)="hideSidenav()"> <i class="fas fa-user"></i>  <b class="link-inner-text">გამომწერები</b>  </span>
            <span class="nav-link" routerLinkActive="active-link"  [routerLink]="AppRoutes.dashboard" (click)="hideSidenav()"> <i class="fas fa-chart-pie"></i>  <b class="link-inner-text">დეშბორდი</b>  </span>
        </div>
    </div>
</div>