
:host{
    height: 100%;
}
.center-component{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .modal{
        width: 90%;
        max-width: 500px;
        border-radius: 10px;
        background-color: rgb(43, 42, 42);
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px;
        align-items: center;
        box-shadow: 0px 0px 5px black;
        .form-group{
            display:flex;
            flex-direction: column;
            gap: 5px;
            color: white;
            width: 100%;
            .form-control{
                padding: 20px;
                background-color: transparent;
                border: 1px solid white;
                border-radius: 5px;
                color: white;
                width: 100%;
            }
        }
        .atuthorize{
            width: 100%;
            height: 20px;
            border-radius: 5px;
            background-color: green;
            border: none;
            outline: none;
            color: white;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}