<div class="center-component">
    <div class="modal">
        <div class="form-group">
            <label for="" class="label">მომხმარებელი</label>
            <input type="text" class="form-control" [(ngModel)]="username">
        </div>
        <div class="form-group">
            <label for="" class="label">პაროლი</label>
            <input type="password" class="form-control" [(ngModel)]="password">
        </div>
        <button class="atuthorize" (click)="Authorize()">ავტორიზაცია</button>
    </div>
</div>