<div class="photo-container" >
    <div class="information-align" [routerLink]="AppRoutes.editPosts+posts.id">
        <div class="text-align">
            <b class="title-price" *ngIf="posts.discountedPrice==null"> 
                <b class="title">
                    {{posts.title}}
                </b>
              <p>{{posts.price}}₾</p>
            </b>
            <b class="title-price" *ngIf="posts.discountedPrice!=null">
                <b class="title">
                    {{posts.title}}
                </b>
                <div style="display: flex; align-items: center;gap: 10px;">
                    <p  class="discounted-price">{{posts.price}}₾</p>
                    <p>{{posts.discountedPrice}}₾</p>
                </div>
            </b>
        </div>
    </div>
    <img [src]="posts.photos[0].photoUrl" alt="" class="photo">
</div>