 .photo-container{
    width: 100%;
    border-radius: 0px;
    overflow: hidden;
    height: 100%;
    cursor: pointer;
    position: relative;
   
    .information-align{
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        transition: 0.3s all ease-in-out;
        align-items: center;
        opacity: 0;
        background-color: rgba(0, 0, 0, 0.582);
        color: white;
    }
     .deleted-mark{
        background-color: rgba(255, 0, 0, 0.582);
        opacity: 1;
    }
    .photo{
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: 0.3s;
    }
}
.photo-container:hover .photo{
    scale: 1.1;
}
.photo-container:hover .information-align{
    opacity: 1;
}

@media screen and (max-width:1000px){
   .photo-container{
        .information-align{
            .text-align{
                padding-bottom: 10px;
                .description-price{
                    gap: 10px;
                }
                .title-price{
                    font-size: 18px;
                    .title{
                        font-size: 15px;
                    }
                }  
            }
        }
    }
}
@media screen and (max-width:1000px){
   .photo-container{
        .information-align{
            .text-align{
                padding-bottom: 10px;
                .description-price{
                    gap: 10px;
                    .button{
                        scale: 0.8;
                    }
                }
                .title-price{
                    font-size: 18px;
                    .title{
                        font-size: 15px;
                    }
                }  
            }
        }
    }
}
@media screen and (max-width:600px){
   .photo-container{
        .information-align{
            .text-align{
                padding-bottom: 10px;
                .description-price{
                    gap: 10px;
                    .button{
                        scale: 0.8;
                    }
                }
                .title-price{
                    font-size: 18px;
                    .title{
                        font-size: 15px;
                    }
                }  
            }
        }
    }
}