.inputs-moadl-align{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    backdrop-filter: blur(20px);
    .inputs-align{
        display: flex;
        gap: 20px;
        padding: 30px; 
        border-radius: 10px;
        background-color: rgb(44, 44, 44);
        filter: drop-shadow( 0px 0px 50px black);
        width: 90%;
        border: 1px solid rgba(128, 128, 128, 0.295);
        max-width: 500px;
    }
    .search-align{
        display: flex;
        gap: 5px;
        .user-search{
            background-color: transparent;
            color: white;
            padding: 10px 20px;
            border: 1px solid grey;
            border-radius: 5px;
            outline: none;
            width: 100%;
        }
        .user-search::placeholder{
            color: white;
        }
        .search-button{
            padding: 10px 20px;
            border: 1px solid rgba(128, 128, 128, 0.349);
            background-color: rgba(0, 0, 0, 0.247);
            cursor: pointer;
            border-radius: 5px;
            .fas{
                color: white;
            }
        }
    }
}
.clse-inputs-modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.user-component{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    .filters-align{
        width: 90%;
        display: flex;
        gap: 20px;
        align-items:center;
        flex-direction: column;
        z-index: 10;
     
        .filter-button-align{
            display: flex;
            gap: 6px;
            width: 100%;
            .filter{
                color: white;
                padding: 10px 20px;
                border: 1px solid rgba(128, 128, 128, 0.349);
                background-color: rgba(0, 0, 0, 0.247);
                border-radius: 5px;
                cursor: pointer;
            }
            .active-filter{
                background-color: white;
                color: black;
            }
        }
    }
    .filters-align::-webkit-scrollbar{
        display: none;
    }
    .user-align{
        width: 90%;
        display: grid;
        grid-template-columns: repeat(4,1fr);
        gap: 10px;
        .user{
            padding: 10px;
            border: 1px solid rgba(128, 128, 128, 0.349);
            background-color: rgba(0, 0, 0, 0.247);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            position: relative;
            .copy-user-id{
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                cursor: pointer;
                z-index: 1;
            }
            .user-profile{
                display: flex;
                flex-direction: column;
                gap: 5px;
                align-items: center;
                .user-profile-container{
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 2;
                    border: 1px solid rgba(128, 128, 128, 0.527);
                    .user-img{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .username{
                    color: white;
                }
                .info-align{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 5px;
                    border: 1px solid rgba(128, 128, 128, 0.349);
                    background-color: rgba(0, 0, 0, 0.247);
                    border-radius: 5px;
                    gap: 10px;
                    position: relative;
                    z-index: 2;
                    flex-wrap: wrap;
                    justify-content: center;
                    .copied-span{
                        display: flex;
                        position: absolute;
                        top: -30px;
                        right: -30px;
                        padding: 5px;
                        border-radius: 5px;
                        background-color: rgba(0, 0, 0, 0.589);
                        animation: popupcopy 0.3s ;
                    }
                    @keyframes popupcopy {
                        0%{
                            scale: 0.7;
                        }
                        50%{
                            scale: 1.2;
                        }
                        100%{
                            scale: 1;
                        }
                    }
                    cursor: pointer;
                    .info{
                        color: white;
                        overflow: hidden;
                        display: flex;
                        gap: 5px;
                        word-break: break-all;
                    }
                    .copy-btn{
                        cursor: pointer;
                        background-color: rgba(0, 0, 0, 0.37);
                        padding: 5px;
                        border-radius: 5px;
                        border: 1px solid grey;
                        .fas{
                            color: white;
                        }
                    }
                    .order-count{
                        padding: 5px;
                        border-radius: 5px;
                        background-color: orangered;
                        color: white;
                    }
                    .paid{
                        background-color: green;
                    }
                }
            }
            .status-align{
                display: flex;
                justify-content: space-between;
                gap: 10px;
                z-index: 2;
                .role{
                    color: white;
                    border: none;
                    background-color: green;
                    border-radius: 5px;
                    padding: 5px;   
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                }
                .block{
                    background-color: red;
                }
                .userid{
                    background-color: rgba(0, 0, 0, 0.212);
                    border: 1px solid grey;
                }
            }
        }
    }
}
.block-modal-align{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
    .block-modal-back{
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
        backdrop-filter: blur(5px);
    }    
    .block-modal{
        width: 90%;
        max-width: 400px;
        padding: 50px;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.308);
        border: 1px solid grey;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-area: 10px;
        .button{
            padding: 10px 20px;
            border-radius: 5px;
            font-weight: bolder;
            border: 1px solid black;
            cursor: pointer;
            color: white;
        }
        .green{
            background-color: green;
        }
        .red{
            background-color: red;
        }
    }
}

.center-pagenation{
    display: flex;
    width: 100%;
    justify-content: center;
.pageination-align{
    width: 90%;
    display: flex;
    justify-content: flex-start;
    padding: 20px 0px 50px 0px;
    .buttons-align{
        display: flex;
        align-items: center;
        gap: 10px;
        justify-content: center;
        .next-button{
            padding: 10px;
            border-radius: 5px;
            border: none;
            background-color: white;
            display: flex;
            align-items: center;
            cursor: pointer;
            justify-content: center;
        }
       .icon-rotate-left {
         transform: rotate(180deg);
        }
        .btn{
            transition: 0.2s all ease-in-out;
            margin: 0;
        }
        .btn:hover{
            background-color: white;
        }
        .page-numbers-align{
            display: flex;
            gap: 3px;
            .pageination-buttons{
                border: none;
                padding: 5px 10px;
                border-radius: 5px;
                font-size: 14px;
                transition: 0.2s ;
                cursor: pointer;
            }
            .pageination-buttons:hover{
                color: white;
                background-color: #26B4FF;
            }
            .selected {
                background: #26B4FF !important;
                color: white;
            }
        }
    }
  }
}




@media screen and (max-width:1200px){
    .user-component{
        .user-align{
            width: 90%;
            grid-template-columns: repeat(3,1fr);
        }
   }
}
@media screen and (max-width:900px){
   .user-component{
        .user-align{
            gap: 10px;
            grid-template-columns: repeat(2,1fr);
        }
       .filters-align{
            .inputs-align{
                flex-direction: column;
                .search-align{
                    width: 100%;
                }
            }        
            .filter-button-align{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                width: 100%;
            }
       }
    }

}
@media screen and (max-width:600px){
    .user-component{
        width: 100%;
        scale: 0.9;
        .filters-align{
            width: 95%;
        }
        .user-align{
            gap: 10px;
            width: 95%;
            grid-template-columns: repeat(2,1fr);
        }
        .center-pagenation{
            .pageination-align{
                width: 95%;
            }
        }
   }
    .center-pagenation{
        .pageination-align{
            scale: 0.9;
        }
    }
}
@media screen and (max-width:400px){
    .user-component{
        width: 100%;
        .filters-align{
            width: 100%;
        }
        .user-align{
            width: 100%;
        }
    }
    .center-pagenation{
        .pageination-align{
            width: 100%;
        }
    }
}