
.center-component{
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    .component{
        width: 90%;
        padding: 50px 10px;
        background-color:rgba(0, 0, 0, 0.623);
        backdrop-filter: blur(20px);
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        height: auto;
        .photo-align{
            display: grid;
            grid-template-columns: repeat(3,1fr);
            width: 100%;
            gap: 15px;
            .square-container{
                width: 100%;
                height: 250px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 1px solid white;
                cursor: pointer;
                .fas{
                    scale: 2;
                }
            }
            .ng-container{
                border: 1px solid white;
                position: relative;
                height: 250px;
                .add-new-photo{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.3s all ease-in-out;
                    
                    .fas{
                        color: white;
                        scale: 2.5;
                        transition: 0.3s all ease-in-out;
                    }
                }
                .photo-container{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    height: 100%;
                    .photo{
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                .remove-photo{
                    position: absolute;
                    top: -10px;
                    right: -10px;
                    background-color: red;
                    color: white;
                    border-radius: 5px;
                    cursor: pointer;
                    padding: 5px;
                    box-shadow: 0px;
                    border: 0;
                    outline: none;
                    z-index: 1;
                }
            }
        }
           
        .add-new-post:hover{
            background-color: rgba(0, 0, 0, 0.829);
        }
        .add-new-post:hover .fas{
            rotate: 180deg;
            scale: 3.5;
        }
    }

    .form-align{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: bold;
        background-color: rgba(0, 0, 0, 0.582);
        padding: 10px;
        gap: 30px;
        position: relative;
        .remove-revert-align{
            width: 100%;
            display:flex;
            justify-content: flex-end;
            .btn{
                display: flex;
                justify-content: center;
                align-items: center;

            }
            .hide{
                background-color: orangered;
                color: white;
                font-weight: bolder;
            }
            .revert{
                background-color:green;
                color: white;
                font-weight: bolder;
            }
        }

        .discount-top{
            top: -25px;
            left: 20px;
            position: absolute;
            padding: 10px 20px;
            display: flex;
            align-items: center;
            border-radius: 5px;
            backdrop-filter: blur(10px);
            gap: 5px;
        }
        .green-background{
            background-color: rgba(0, 128, 0, 0.726);
        }
        .red-background{
            background-color: rgba(255, 0, 0, 0.527);
        }
        .input-group{
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: 10px;
            width: 100%;
            .form-control-group{
                display: flex;
                flex-direction: column;
                gap: 10px;
                width: 100%;
                .order-allowed-align{
                    display: flex;
                    justify-content: center;
                    gap: 10px;
                    background-color: green;
                    height: 100%;
                    align-items: center;
                    border-radius: 5px;
                    padding: 10px 0px;
                    cursor: pointer;
                    label{
                        cursor: pointer;
                    }
                }
                .order-not-allowed{
                    background-color: orangered;
                }
                .btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    color: white;
                    font-family: bolder;
                }
                .form-control{
                    background-color: transparent;
                    background:none;
                    border-radius: 5px;
                    outline:  none;
                    box-shadow: 0px 0px 0px transparent;
                    text-shadow: 0px 0px 0px transparent;
                    padding: 10px;
                    color: white;
                    font-size: 18px;
                    min-width: none;
                    border: 1px solid white;
                    display: flex;
                    align-items: center;
                }
                .form-control-label{
                    text-wrap: nowrap;
                }
                .form-control::placeholder{
                    font-size: 15px;
                    color: rgb(185, 184, 184);
                }
                .form-control:focus{
                    background-color: rgba(0, 0, 0, 0.507);
                }
                .select-control:focus{
                    background-color: black;
                }
            }
        }
        .description-group{
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 10px;
            .description{
                width: 100%;
                height: 200px;
                resize: vertical;
                padding: 10px;
                box-shadow: 0px 0px 0px transparent;
                text-shadow: 0px 0px 0px transparent;        
                outline:none;
                border: 1px solid white;
                background-color: transparent;
                color: white;
            }
            .description:focus{
                background-color: rgba(0, 0, 0, 0.507);
            }
        }
        button {
        width: 150px;
        height: 50px;
        cursor: pointer;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 5px;
        box-shadow: 1px 1px 3px rgba(0,0,0,0.15);
        background: green;
        }

        button, button span {
        transition: 200ms;
        }

        button .text {
        transform: translateX(35px);
        color: white;
        font-weight: bold;
        }

        button .icon {
        position: absolute;
        border-left: 1px solid green;
        transform: translateX(110px);
        height: 40px;
        width: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        }

        button svg {
        width: 15px;
        fill: #eee;
        }

        button:hover {
        background: green;
        }

        button:hover .text {
        color: transparent;
        }

        button:hover .icon {
        width: 150px;
        border-left: none;
        transform: translateX(0);
        }

        button:focus {
        outline: none;
        }

        button:active .icon svg {
        transform: scale(0.8);
        }
    }
}

.type-management-component{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 30px 0px;
    .type-management-align{
        width: 90%;
        display: flex;
        align-items: center;
        gap: 10px;
        overflow-x: scroll;
        .type-container{
            display: flex;
            align-items: center;
            gap: 20px;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid rgba(128, 128, 128, 0.452);
            .type-input{
                background-color: transparent;
                border-radius: 5px;
                border: 1px solid white;
                padding: 10px;
                color: white;
                outline: none;
            }
            .delete{
                padding: 10px 20px;
                border-radius: 5px;
                border: none;
                background-color: red;
                color: white;
                cursor: pointer;
            }
            .accept{
                background-color: green;
            }
            .edit{
                background-color: white;
                color: black;
            }
        }
    }
    .type-management-align::-webkit-scrollbar{
        display: none;
    }
}
.insert{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;
}
.insert:hover{
    background-color: greenyellow;
}
@media screen and (max-width:1500px) {
    .center-component{
        .component{
            grid-template-columns: repeat(1,1fr);
            .photo-align{
                height: 100%;
            }
            .form-align{
                .input-group{
                    grid-template-columns: repeat(3,1fr);
                }
            }
        }
    }
}
@media screen and (max-width:900px) {
    .center-component{
        .component{
            .photo-align{
                grid-template-columns: repeat(2,1fr);
            }
            .form-align{
                .input-group{
                    grid-template-columns: repeat(1,1fr);
                }
            }
        }
    }
}
@media screen and (max-width:600px) {
    .center-component{
        .component{
            .photo-align{
                .square-container{
                  height: 150px;
                }
                .ng-container{
                    height: 150px;
                }
            }
        }
    }
}