<div class="center-component">
    <div class="component">
        <div class="photo-align">
           <div *ngFor="let p of uploadPhotos; let i = index" class="ng-container" data-aos="fade-in">
                <button class="remove-photo" *ngIf="p.preview" (click)="removePhoto(p.id)">
                    <i class="fas fa-times"></i>
                </button>
                <div class="photo-container" *ngIf="p">
                    <img *ngIf="p.preview" [src]="p.preview" class="photo">
                </div>
            </div>
            <input id="photoinput" type="file" (change)="onFileChange($event)" accept="image/*" hidden>
            <div class="square-container" (click)="triggerFileInput()">
                <i class="fas fa-plus-square"></i>
            </div>
        </div>
        <div class="form-align">
            <div class="discount-top" [ngClass]="{'green-background':discountedPercentage>0,'red-background':discountedPercentage<0}">
                <p *ngIf="discountedPercentage>0">-</p>
                {{discountedPercentage}}%
            </div>
            <div class="input-group">
                <div class="form-control-group">
                    <label class="form-control-label">სახელი</label>
                    <input type="text" class="form-control" placeholder="" [(ngModel)]="title">
                </div>
                <div class="form-control-group">
                    <label class="form-control-label">პროდუქტის კატეგორია</label>
                    <select name=""  class="form-control select-control" id="" [(ngModel)]="productTypeId">
                        <option value="0"></option>
                        <option *ngFor="let i of productTypesList" [value]="i.id">{{i.productType}}</option>
                    </select>
                </div>
                <div class="form-control-group">
                    <label class="form-control-label">ფასი</label>
                    <input type="number" class="form-control" placeholder="₾" (input)="discountAmountChangeDetection()" [(ngModel)]="price">
                </div>
                <div class="form-control-group">
                    <label class="form-control-label">ფასდაკლებული ფასი</label>
                    <input type="number" class="form-control" placeholder="₾" (input)="discountAmountChangeDetection()" [(ngModel)]="discountedPrice">
                </div>
                <div class="form-control-group">
                    <label class="form-control-label">რაოდენობა მარაგში</label>
                    <input type="number" class="form-control" placeholder="" [(ngModel)]="quantity">
                </div>
                <div class="form-control-group">
                    <label class="form-control-label">შეკვეთა მარაგის ამოწურვის შემდეგ</label>
                    <div class="order-allowed-align" *ngIf="!orderNotAllowed" (click)="ToggleorderNotAllowed(true)"> 
                        <label for="orderallowes">დაშვებული</label>
                    </div>
                    <div class="order-allowed-align order-not-allowed" *ngIf="orderNotAllowed" (click)="ToggleorderNotAllowed(false)"> 
                        <label for="orderallowes">შეზღუდული</label>
                    </div>
                </div>
            </div>
            <div class="description-group">
                <label class="form-control-label">პროდუქტის აღწერა</label>
                <textarea name="" id="" class="description" [(ngModel)]="description"></textarea >
            </div>
            <button class="noselect" (click)="sendApplicationtoBackend()">
                <span class="text">ატვირთვა </span>
                <span class="icon">
                <i class="fas fa-cloud-upload-alt"></i>
                </span>
            </button>
        </div>
    </div>
</div> 