html,body{
    width: 100%;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
p{
    margin: 0;
}
ul{
    margin: 0;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
  }
  .background{
    // background: linear-gradient(to bottom, #058005b6,#9fa81a, #1f5296  );
    // background: linear-gradient(to bottom, #1f201f,#1b1b1b, #313131  );
    background-color: rgb(33, 37, 53);
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
    position: fixed;
  }
 label{
    min-width: none;
}



 input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}